@{
    Layout = "~/Views/Shared/LayoutFront.cshtml";
}

<section>

    <h1>Datos de contacto:</h1>
    <ul>
        <li>Telefono: 672569908</li>
        <li>Direccion: C/ foo 69</li>
        <li>Direccion2: C/ bar 69</li>
        <li>Cars_Hotels@carshotel.com</li>
    </ul>

</section>

<section class="adjust-text">

    <form action="thanks-for-contacting-us.html">
        <label>
            <span>Nombre del Solicitante</span>
            <input data-id="nameContact" type="text" />
        </label>

        <label>
            <span>Apellido del Solicitante</span>
            <input data-id="surnameContact" type="text" />
        </label>

        <label>
            <span>Correo</span>
            <input data-id="emailContact" type="email" />
        </label>

        <label>
            <span>Comentarios Adicionales</span>
            <textarea></textarea>
        </label>

        <button data-id="submit-contact" type="submit">Enviar</button>

    </form>

</section>


