@{
    Layout = "~/Views/Shared/LayoutFront.cshtml";
}

    <section>

        <h1>Política de Privacidad y Protección de Datos de Carácter personal.</h1>
        <h2>1.- ¿Quién es el Responsable del Tratamiento de los datos personales facilitados?</h2>
        <ul>
            <li>Cars &amp; Hotels S.L. (en adelante Cars &amp; Hotels)</li>
            <li>CIF: B85858169</li>
            <li>Calle de los Ciertcuitos Abiertos 24/7 Montmeló</li>
            <li>Teléfono: 935030045</li>
            <li>Correo electrónico: provacidad@carshotels.com</li>
        </ul>
        <h2>2.- ¿Con qué finalidad tratamos sus datos personales?</h2>
        <p>
            En APPLICALIA nos preocupa la privacidad de nuestros usuarios, así como proteger la información de los
            mismos de forma segura. De acuerdo con el Reglamento (UE) 2016/679, del Parlamento Europeo y del
            Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al
            tratamiento de datos personales y a la libre circulación de estos datos (RGPD) y a Ley Orgánica 3/2018,
            de 5 de diciembre, de protección de datos personales y garantía de los derechos digitales (LOPDGDD)
            informamos al usuario de los tratamientos que realizaremos con sus datos personales:
        </p>
        <ul>
            <li>
                Gestionar las peticiones formuladas a través de los diferentes medios existentes (formularios de
                contacto, teléfono, etc.).
            </li>
        </ul>
        <p>Le comunicamos que no se adoptarán decisiones automatizadas en base a su perfil.</p>
        <h2>3.- ¿Cuál es la base legal del tratamiento de sus datos personales?</h2>
        <p>
            La base legal del tratamiento de sus datos personales es el tratamiento necesario para las medidas
            precontractuales que usted solicita cuando nos requiere información sobre nuestros servicios. En
            concreto, la licitud del tratamiento de sus datos se basa en lo dispuesto en el artículo 6.1.b) del
            RGPD.
        </p>
        <h2>4.- ¿Por cuánto tiempo conservaremos sus datos personales?</h2>
        <p>
            Cars &amp; Hotels tratará sus datos de carácter personal hasta que nos solicite su supresión. En todo
            caso, en cada correo electrónico que le enviemos podrá manifestar su negativa a seguir recibiéndolos de
            manera clara, sencilla y gratuita.
        </p>
        <h2>5.- ¿A qué destinatarios se comunicarán sus datos personales?</h2>
        <p>
            Sus datos personales no serán comunicados a nadie ajeno a Cars &amp; Hotels.
            Cars &amp; Hotels no realizará transferencias internacionales de datos.
            Únicamente cederá sus datos personales si una Ley obliga a hacerlo.
        </p>
        <h2>6.- ¿Cuáles son sus derechos cuando nos facilita sus datos personales?</h2>
        <p>
            El interesado podrá ejercitar los derechos detallados a continuación, acompañando su petición de una
            copia de documento fehaciente de identificación (DNI, NIE, etc.) y dirigiéndose a Cars &amp; Hotels a
            través del correo electrónico info@carshotels.com:
        </p>
        <ul>
            <li>
                Derecho de acceso: Es el derecho del interesado a obtener de Cars &amp; Hotels confirmación de si se
                están tratando o no datos personales que le conciernen y, en tal caso, derecho de acceso a los datos
                personales.
            </li>
            <li>
                Derecho de rectificación: Es el derecho del interesado a solicitar la rectificación de los datos
                personales inexactos que le conciernan. El interesado, asimismo, teniendo en cuenta los fines del
                tratamiento, tendrá derecho a que se completen los datos personales que sean incompletos, inclusive
                mediante una declaración adicional.
            </li>
            <li>
                Derecho a la supresión: Es el derecho del interesado a obtener la supresión de sus datos personales,
                siempre y cuando concurra alguna de las circunstancias previstas en el artículo 17 del Reglamento
                General de Protección de Datos.
            </li>
            <li>
                Derecho a la limitación del tratamiento: Es el derecho del interesado, a obtener la limitación del
                tratamiento de datos personales, siempre que se cumpla alguna de las condiciones establecidas en el
                artículo 18 del Reglamento General de Protección de Datos. En este caso, los datos solo podrán ser
                objeto de tratamiento, con excepción de su conservación, con el consentimiento del interesado o para
                la formulación, el ejercicio o la defensa de reclamaciones.
            </li>
            <li>
                Derecho de oposición: Es el derecho del interesado, en determinadas circunstancias y por motivos
                relacionados con su situación particular, a oponerse al tratamiento de sus datos personales, de
                acuerdo con lo establecido en el artículo 21 del Reglamento General de Protección de Datos.
            </li>
            <li>
                Derecho a la portabilidad de los datos: Es el derecho del interesado a recibir datos personales que
                le incumben, que haya facilitado a un responsable del tratamiento, en un formato estructurado, de
                uso común y lectura mecánica, y a transmitirlos a otro responsable del tratamiento sin que lo impida
                el responsable al que se los hubiera facilitado, siempre y cuando se cumplan las condiciones
                establecidas en el artículo 20 del Reglamento General de Protección de Datos.
            </li>
        </ul>
        <h2>7.- Cambios en la Política de Privacidad</h2>
        <p>
            Cars &amp; Hotels se reserva la facultad de modificar la presente Política de Privacidad para adaptarla
            a las novedades legislativas, jurisprudenciales o de interpretación de la Agencia Española de Protección
            de Datos. En este caso, Cars &amp; Hotels anunciará dichos cambios, indicando claramente y con la debida
            antelación las modificaciones efectuadas, y solicitándole, en caso de que sea necesario, la aceptación
            de dichos cambios.
        </p>
    </section>

