@{
    Layout = "~/Views/Shared/LayoutFront.cshtml";
}

<section class="adjust-text">

    <h2>Hemos enviado un correo de confirmación a su mail. Por favor clique en el enlace para continuar</h2>

</section>

<section class="adjust-text">

    <a href="booking-completed.html">Clique aquí para continuar</a>

</section>

