@{
    Layout = "~/Views/Shared/LayoutFront.cshtml";
}

<section>
    <h1>Hotel Maranello</h1>
    <img src="/Content/img/hotel_ferrari.jpg" class="link-room" onclick="location.href='/Room'">
    <p>La exclusividad del mundo Ferrari a tu servicio</p>
    <p>
        Modernas y muy completas, las junior suite del Hotel President Andorra miden entre 45 y 65 m², cuentan
        con cama King Size, salón con TV plana, baño, ducha, bañera, secador y teléfono, minibar, wifi gratis,
        amenities y bañera hidromasaje bajo petición en algunas de nuestras Junior Suites con suplemento de 30 €
        diarios."
    </p>
    <p>
        Cancelaciones y modificaciones no permitida en este tipo de tarifa. Se cobrará el 100% de la reserva en
        el momento d' efectuar la reserva.
    </p>
</section>

<section>
    <h1>Hotel Stark</h1>
    <img src="/Content/img/Hoteles.jpg" class="link-room" onclick="location.href='/Room'">
    <p>Disfruta de tu coche favorito en el paraiso</p>
    <p>
        Modernas y muy completas, las junior suite del Hotel President Andorra miden entre 45 y 65 m²,
        cuentan
        con cama King Size, salón con TV plana, baño, ducha, bañera, secador y teléfono, minibar, wifi
        gratis,
        amenities y bañera hidromasaje bajo petición en algunas de nuestras Junior Suites con suplemento de
        30 €
        diarios.
    </p>
    <p>
        Cancelaciones y modificaciones no permitida en este tipo de tarifa. Se cobrará el 100% de la reserva
        en
        el momento d' efectuar la reserva.
    </p>

</section>

<section>
    <h1>Hotel Lannister</h1>
    <img src="/Content/img/lujo.jpg" class="link-room" onclick="location.href='/Room'">
    <p>Lujo y confort garantizados</p>
    <p>
        Modernas y muy completas, las junior suite del Hotel President Andorra miden entre 45 y 65 m²,
        cuentan
        con cama King Size, salón con TV plana, baño, ducha, bañera, secador y teléfono, minibar, wifi
        gratis,
        amenities y bañera hidromasaje bajo petición en algunas de nuestras Junior Suites con suplemento de
        30 €
        diarios.
    </p>
    <p>
        Cancelaciones y modificaciones no permitida en este tipo de tarifa. Se cobrará el 100% de la reserva
        en
        el momento d' efectuar la reserva.
    </p>
</section>
