@{
    Layout = "~/Views/Shared/LayoutFront.cshtml";
}

    <body>
        <main class="layout-main">
            <section>

                <h1>
                    Un poco de nuestra historia
                </h1>
                <p>
                    Somos Adam y Alejandro, dos apasionados del motor.
                </p>
                <p>
                    Nuestro sueño es poder transmitir nuestra pasión por las cuatro ruedas a los clientes más exigentes,
                    ofreciendo hoteles y rutas en coche tanto para parejas como para grupos de amigos.
                </p>

            </section>
        </main>

    </body>

