@{
    Layout = "~/Views/Shared/LayoutFront.cshtml";
}

<section>

    <h1>Política de Cookies</h1>
    <p>*Actualizado a 1 de Enero de 2020</p>
    <p>
        En cumplimiento de lo dispuesto en el artículo 22.2 de la Ley 34/2002, de Servicios de Sociedad de la
        Información y Comercio Electrónico (LSSI), Cars &amp Hotels ha elaborado la Política de Cookies que
        detallamos a continuación y cuyo objetivo es proporcionar información clara y completa sobre la
        utilización de cookies en la presente página web, de acuerdo con lo dispuesto en la Ley Orgánica
        15/1999, de 13 de Diciembre, de Protección de Datos de Carácter Personal.
    </p>
    <p>
        Si usted, continua navegando por nuestra página web, entendemos que otorga su consentimiento para su uso
        e instalación.
    </p>
    <h2>¿Qué son las cookies?</h2>
    <p>
        Las cookies son pequeños textos alfanuméricos que se almacenan en el terminal del usuario cuando visita
        casi cualquier página web. Su funcionalidad permitirá recordar su visita cuando vuelva a navegar por
        esta página web www.cars&hotels.com
    </p>
    <h2>¿Qué tipos de cookies existen?</h2>
    <p>
        Según la entidad que gestione el equipo o dominio desde donde se envían las cookies podemos distinguir
        entre:
    </p>
    <ul>
        <li>
            Cookies propias: Son las generadas por la propia web que se está visitando y la titularidad
            corresponde al editor de la página.
        </li>
        <li>
            Cookies de terceros: Son las generadas desde un dominio o equipo que no es gestionado por el editor
            de la página, sino por una tercera entidad responsable y titular de las mismas. Según el plazo de
            tiempo que permanezcan activadas en el equipo del usuario podemos distinguir entre:
        </li>
        <li>
            Cookies de sesión: Estas cookies recaban y almacenan datos mientras que el usuario accede a una
            página web, y se suelen emplear para almacenar la información necesaria para la prestación de un
            servicio solicitado por el usuario en una sola sesión.
        </li>
        <li>
            Cookies persistentes: En estas cookies los datos siguen almacenados en el terminal del usuario y
            pueden ser tratados durante un tiempo definido por el responsable de la cookie.
        </li>
    </ul>
    <p>Según la finalidad para la que se traten los datos obtenidos a través de las cookies, pueden ser:</p>
    <ul>
        <li>Cookies técnicas: Son las cookies necesarias para el funcionamiento de la página web.</li>
        <li>
            Cookies de personalización: Estas cookies hacen posible que cada usuario pueda configurar aspectos
            tales como el lenguaje con el que desea ver una página web.
        </li>
        <li>
            Cookies de análisis o rendimiento: Estas cookies permiten el seguimiento y análisis del
            comportamiento de los usuarios de los sitios web de una forma anónima.
        </li>
        <li>
            Cookies publicitarias: Permiten implantar parámetros de eficiencia en la publicidad ofrecida en una
            página web.
        </li>
        <li>
            Cookies de publicidad comportamental: Estas cookies almacenan información del comportamiento de los
            usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite
            desarrollar un perfil específico para mostrar publicidad en función del mismo.
        </li>
    </ul>
    <h2>¿Cuáles son las cookies utilizadas en esta página?</h2>
    <p>Cookies propias: La presente web no utiliza cookies propias.</p>
    <p>
        Cookies de terceros: _ga. Es una cookie de google analytics que utiliza un identificador anónimo para
        distinguir usuarios anónimos. Esta cookie realiza análisis sobre las interacciones de los usuarios, con
        el fin de optimizar los servicios que ofrecen. Tiene una duración de dos años. _gat. Es una cookie de
        google analytics que se utiliza para diferenciar entre los diferentes objetos de seguimiento creados en
        la sesión. La cookie se actualiza cada vez que envía los datos a Google Analytics.
    </p>
    <p>
        Para consultar más información sobre los datos que Google Analytics recopila a través de sus cookies y el
        uso que hace de ellos, puedes visitar la página
        https://support.google.com/analytics/answer/6004245?hl=es
    </p>
    <h2>¿Cómo desinstalar las cookies?</h2>
    <p>
        Puede restringir, bloquear o borrar las cookies de cualquier página web a través de su navegador. La
        operativa por los navegadores más utilizados la puede encontrar en los siguientes enlaces:
    </p>
    <ul>
        <li>
            <a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies#">
                Internet
                Explorer
            </a>
        </li>
        <li><a href="https://support.mozilla.org/es/kb/Borrar%20cookies">Firefox</a></li>
        <li><a href="https://support.google.com/chrome/answer/95647?hl=es">Chrome</a></li>
        <li><a href="https://www.apple.com/legal/privacy/es/cookies/">Safari</a></li>
    </ul>
    <h2>Actualización de la Política de Cookies</h2>
    <p>
        La Política de cookies puede ser cambiada para adaptarla a los diferentes cambios legislativos que
        pudieran darse, por ello recomendamos que cada vez que acceda a la presente página acceda a la presente
        información. Si tiene dudas sobre esta Política de Cookies, contacte con nosotros a través del correo
        electrónico info@cars&hotels.com expresando en el asunto “Política de Cookies”.
    </p>
</section>

